.topbar li .ico-new{background:url(../images/common/ico_new.png) no-repeat;}
.topbar li .ico-help{background:url(../images/common/ico_help.png) no-repeat;}
.topbar li .ico-docu{background:url(../images/common/ico_docu.png) no-repeat;}