<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title></title>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/main.css" />
		<link href="https://v3.bootcss.com/dist/css/less/glyphicons.less" />
	</head>

	<body class="text-center">
		<!--start header topbar + first level menu-->
		<header>
			<div class="content-flex content-topbar-bg">
				<div class="topbar-flex">
					<div class="yz-content yz-topbar">
						<nav class="nav yz-topbar-a">
							<a class="nav-link active" href="#">消息中心</a>
							<a class="nav-link" href="#">帮助中心</a>
							<a class="nav-link" href="#">开发文档</a>
						</nav>
					</div>
				</div>

			</div>
			<div class="content-flex content-menu-bg">
				<div class="main-menu-flex">
					<div class="yz-content yz-menu">
						<nav class="nav yz-menu-a">
							<h1 class="yz-menu-logo "><a class="menu-logo" href="#">微信支付商户平台</a></h1>
							<a class="nav-link main-menu-nav active" href="#">交易中心</a>
							<a class="nav-link main-menu-nav" href="#">账户中心</a>
							<a class="nav-link main-menu-nav" href="#">营销中心</a>

						</nav>
					</div>
				</div>
			</div>
		</header>
		<!--end header topbar + first level menu-->
		<!--<div class="yz-flex">
				<div class="yz-top">
					<a class="nav-link active" style="float: left;" href="#">消息中心</a>
					<nav class="nav yz-top-a">
						<a class="nav-link active" href="#">消息中心</a>
						<a class="nav-link" href="#">帮助中心</a>
						<a class="nav-link" href="#">开发文档</a>
					</nav>
					<div class="yz-content">

					</div>
				</div>
			</div>
		</div>-->
	</body>

</html>