<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title></title>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/main.css" />
		<link href="https://v3.bootcss.com/dist/css/less/glyphicons.less" />
	</head>

	<body class="text-center">
		<div class="bg-info clearfix">
			<button type="button" class="btn btn-secondary float-left">Example Button floated left</button>
			<button type="button" class="btn btn-secondary float-right">Example Button floated right</button>
		</div>

		<button type="button" class="close" aria-label="Close">
  			<span aria-hidden="true">&times;</span>
		</button>

		<div class="fixed-top">top</div><div class="sticky-top">sticky top</div>
		<a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
		<div class="fixed-bottom">bottom</div>
		<div class="w-25 p-3" style="background-color: #eee;">Width 25%</div>
<div class="w-50 p-3" style="background-color: #eee;">Width 50%</div>
<div class="w-75 p-3" style="background-color: #eee;">Width 75%</div>
<div class="w-100 p-3" style="background-color: #eee;">Width 100%</div>
<div class="mx-auto" style="width: 200px;">
  Centered element
</div>

<p class="text-left">Left aligned text on all viewport sizes.</p>
<p class="text-center">Center aligned text on all viewport sizes.</p>
<p class="text-right">Right aligned text on all viewport sizes.</p>

<p class="text-sm-left">Left aligned text on viewports sized SM (small) or wider.</p>
<p class="text-md-left">Left aligned text on viewports sized MD (medium) or wider.</p>
<p class="text-lg-left">Left aligned text on viewports sized LG (large) or wider.</p>
<p class="text-xl-left">Left aligned text on viewports sized XL (extra-large) or wider.</p>
	
	<div class="text-nowrap" style="width: 8rem;">
  This text should overflow the parent.
</div>
	</body>

</html>